@charset "utf-8";

/* CSS Document */

    /*##################*/

    @font-face {
        font-family: 'quiche-sans';
        src: url('../fonts/quiche-sans/quiche-sans.eot') format('embedded-opentype');
        font-weight: normal;
        font-style: normal;
    }
    
    @font-face {
        font-family: 'quiche-sans';
        src:url('../fonts/quiche-sans/quiche-sans.woff') format('woff'), 
            url('../fonts/quiche-sans/quiche-sans.ttf')  format('truetype'), 
            url('../fonts/quiche-sans/quiche-sans.svg#quiche-sans') format('svg');
        font-weight: normal;
        font-style: normal;
    }

    /*#################*/

    /*##################*/

    @font-face {
        font-family: 'mark_pro_black';
        src: url('../fonts/mark_pro/mark_pro_black/mark_pro_black.eot') format('embedded-opentype');
        font-weight: normal;
        font-style: normal;
    }
    
    @font-face {
        font-family: 'mark_pro_black';
        src:url('../fonts/mark_pro/mark_pro_black/mark_pro_black.woff') format('woff'), 
            url('../fonts/mark_pro/mark_pro_black/mark_pro_black.ttf')  format('truetype'), 
            url('../fonts/mark_pro/mark_pro_black/mark_pro_black.svg#mark_pro_black') format('svg');
        font-weight: normal;
        font-style: normal;
    }

    /*#################*/

    /*##################*/

    @font-face {
        font-family: 'mark_pro_bold';
        src: url('../fonts/mark_pro/mark_pro_bold/mark_pro_bold.eot') format('embedded-opentype');
        font-weight: normal;
        font-style: normal;
    }
    
    @font-face {
        font-family: 'mark_pro_bold';
        src:url('../fonts/mark_pro/mark_pro_bold/mark_pro_bold.woff') format('woff'), 
            url('../fonts/mark_pro/mark_pro_bold/mark_pro_bold.ttf')  format('truetype'), 
            url('../fonts/mark_pro/mark_pro_bold/mark_pro_bold.svg#mark_pro_bold') format('svg');
        font-weight: normal;
        font-style: normal;
    }

    /*#################*/


body {

    margin: 0;

    padding: 0;

    font-size: 14px;

    line-height: 24px;

    background: #fff;

    font-weight:400;

}

* {

    border: medium none;

    margin: 0;

    padding: 0;

}

ul{

    list-style-type:none;

    margin: 0;

}   

a{

  text-decoration:none;

  outline: none!important;

  margin: 0;

}

a:hover{

text-decoration:none;

outline:none;

} 

textarea{

resize:none;

}

.mar-top{

    margin-top:30px;

}

p {

    line-height: 26px;    

    font-size: 14px;

    font-weight:400;

    color:#535151;

    margin: 0;

}

input:focus{

    outline: none;

}

textarea:focus{

    outline: none;

}

button:focus{

    outline: none;

    box-shadow: none;

}

/*####################################*/

            /*START HEADER SECTION*/

.head_info{
    display: flex;
    justify-content: flex-end;
}

.header_sec {
    position: absolute;
    top: 40px;
    left: 0;
    width: 100%;
    z-index: 99;
}

.head_items{
    margin: 0 0 0 35px;
}

.head_items a {
    font-family: 'Jost', sans-serif;
    font-size: 18px;
    font-weight: 300;
    line-height: 26px;
    color: #101114;
}

.head_items a img{
    margin: 0 8px 0 0;
}

.head_items ul li{
    display: inline-block;
}

.head_items ul li img {
    margin: 0 0 0 15px !important;
}

            /*END HEADER SECTION*/

            /*START NAVBAR SECTION*/

.navbar_div #navbarNav ul li{
    margin: 0 0 0 42px;
}

.navbar_div #navbarNav ul li a{
    font-family: 'quiche-sans';
    font-size: 19px;
    color: #1b1b1b;
    margin: 0;
    padding: 0;
    text-transform: capitalize;
}

.navbar_div #navbarNav ul li.active a{
    font-family: 'Jost', sans-serif;
}

            /*END NAVBAR SECTION*/

            /*START BANNER SECTION*/

.banner_caption h2{
    font-family: 'mark_pro_black';
    position: relative;
    font-size: 113px;
    color: #5b1569;
    margin: 0;
    line-height: 95px;
    text-transform: uppercase;
    letter-spacing: 1px;
}

.banner_caption h2::before {
    content: 'Unique';
    color: #5b1569;
    -webkit-text-fill-color: #0000;
    -webkit-text-stroke-width: 1px;
    position: absolute;
    top: 53px;
    line-height: 0;
    left: 6px;
    letter-spacing: 1px;
}

.banner_caption h2 span{
    position: relative;
}

.banner_caption h2 span::before {
    content: 'Style';
    color: #5b1569;
    -webkit-text-fill-color: #0000;
    -webkit-text-stroke-width: 1px;
    position: absolute;
    top: 61px;
    line-height: 0;
    letter-spacing: 1px;
    left: 6px;
}

.banner_caption h6 {
    font-family: 'Jost', sans-serif;
    color: #212121;
    font-size: 50px;
    font-weight: 400;
    text-transform: uppercase;
    letter-spacing: 5px;
    margin: 0;
}

.banner_caption p{
    font-size: 25px;
    font-family: 'Jost', sans-serif;
    font-weight: 300;
    color: #3b3b3b;
    line-height: 31px;
    margin: 0;
}

.banner_link a {
    font-family: 'mark_pro_bold';
    font-size: 15px;
    color: #f0f0f0;
    text-transform: uppercase;
    background: #3c3c3c;
    padding: 25px 40px;
    border-radius: 35px;
}

.banner_link {
    margin: 47px 0 0 0;
}

.camera_caption {
    top: 31%;
    left: 54%;
}

            /*END BANNER SECTION*/

            /*START ABOUT US SECTION*/

.about_us_sec {
  position: relative;
  display: flex;
  flex-direction: row;
  align-items: right;
  justify-content: right;
  margin: 108px 0 100px 0;
}

.about_us_cont {
    background-color: #faf4f4;
    padding: 93px 68px 0 58px;
    width:40%;
    height: 539px;
    margin: 100px 0 0 0;
    position: relative;
    right: -100px;
}
.about_us_img {
    width: 50%;
}
.about_us_img img{
    height: 723px;
    width: 100%;
    object-fit: cover;
}

.about_us_head h2 {
    font-family: 'quiche-sans';
    color: #1b1b1b;
    font-size: 40px;
    margin: 0 0 29px 0;
}

.about_us_para p {
    font-family: 'Jost', sans-serif;
    font-size: 18px;
    font-weight: 300;
    color: #262626;
    line-height: 27px;
    margin: 0 0 26px 0;
}

.about_us_link {
    margin: 38px 0 0 0;
}

.about_us_link a {
    font-family: 'Jost', sans-serif;
    color: #ffffff;
    font-size: 16px;
    padding: 15px 45px;
    background-color: #662572;
    border-radius: 5px;
}

.about_us_main_head {
    position: absolute;
    top: 15%;
    left: 5%;
    -webkit-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, 50%);
}

.about_us_main_head h2 {
    font-size: 201px;
    font-family: 'quiche-sans';
    color: #1b1b1b;
    opacity: 0.07;
    text-transform: capitalize;
    margin: 0;
    letter-spacing: 2px;
    transform: rotate(
270deg);
}

            /*END ABOUT US SECTION*/

            /*START HAIRCUT TIME SECTION*/

.haircut_time_sec {
    background: url(../images/background/haircut_time.jpg) no-repeat;
    background-size: cover;
    padding: 195px 0 249px 0;
    position: relative;
    overflow: hidden;
}

.time_haircut_head {
    margin: 0 0 25px 0;
}

.time_haircut_div {
    text-align: center;
    margin: 0 0 0 21px;
}

.time_haircut_div h2{
    font-family: 'quiche-sans';
    font-size: 40px;
    color: #e9e9e9;
    margin: 0;
    line-height: 48px;
}

.time_haircut_para p{
    font-family: 'Jost', sans-serif;
    font-size: 18px;
    font-weight: 300;
    color: #e5e5e5;
    line-height: 27px;
}

 .mar-para {
   margin: 0 0 31px 0;
}

.hair_cut_link {
    margin: 55px 0 0 0;
}

.hair_cut_link a {
    font-family: 'Jost', sans-serif;
    color: #ffffff;
    font-size: 16px;
    line-height: 27px;
    background-color: #662572;
    padding: 18px 39px;
    border-radius: 5px;
}

.hair_cut_abs {
    transform: rotate(270deg);
    position: absolute;
    right: -11%;
    top: 31%;
}

.hair_cut_abs h2{
    font-size: 194.68px;
    color: #1b1b1b;
    font-family: 'quiche-sans';
    margin: 0;
    text-transform: capitalize;
}


            /*END HAIRCUT TIME SECTION*/

            /*START ANTI AGE SECTION*/

.anti_age_sec {
  position: relative;
  display: flex;
  flex-direction: row;
  align-items: right;
  justify-content: right;
  margin: 108px 0 100px 0;
}

            /*END ANTI AGE SECTION*/

            /*START VIDEO SECTION*/

.video_sec{
    position: relative;
}

.video_img{
    position: relative;
}

.video_img img{
    width: 100%;
}

.video_img::before {
    content: '';
    background: #000;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    opacity: 0.4;
}

.video_play_btn{
    position: absolute;
    top: 50%;
    left: 50%;
    -webkit-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    text-align: center;
}

.video_play_btn button {
    background: no-repeat;
}

.video_bodal_body iframe{
    width: 100%;
}

            /*END VIDEO SECTION*/

            /*START GALLERY SECTION*/

.photo_gallery_sec{
    padding: 97px 0 114px 0;
}

.gallery_img {
    margin: 0 10px;
}

.gallery_img img{
    width: 100% !important;
    height: 258px;
    object-fit: cover;
}            

            /*END GALLERY SECTION*/

            /*START FOOTER SECTION*/

.footer_sec {
    background-color: #f1f1f1;
    margin: 0 0 0 0;
    position: relative;
    background-image: url(../images/cont-bg.png);
    background-position: top 23px center;
    background-repeat: no-repeat;
    background-size: 90%;
}
.footer_sec::after{
    content: '';
    background: url('../images/background/lower_copyright_bg.png') no-repeat bottom center;
    background-size: 100%;
    width: 100%;
    height: 221px;
    position: absolute;
    bottom: 0;
    left: 0;
}

.footer_items{
    margin: 121px 0 0 0;
}

.footer_sub_head h2 {
    font-size: 24px;
    font-family: 'quiche-sans';
    color: #1b1b1b;
    line-height: 48px;
    text-transform: capitalize;
    font-weight: 400;
    margin: 0 0 37px 0;
}

.ad_cal_img {
    float: left;
}

.ad_cal_info {
    margin: 0 0 27px 35px;
}

.ad_cal_info a{
    font-size: 17px;
    line-height: 22px;
    font-family: 'quiche-sans';
    color: #4c4c4c;
    font-weight: 400;
}

.company_links{
    display: flex;
}

.company_links ul{
    width: 50%;
}

.company_links ul li a{
    font-size: 17px;
    font-family: 'quiche-sans';
    text-transform: capitalize;
    font-size: 17px;
    color: #4c4c4c;
    line-height: 34px;
}

.social_media_item ul li{
    display: inline-block;
    margin: 0 10px 0 0;
}

.footer_logo {
    padding: 110px 0 0 0;
    position: relative;
    z-index: 999;
}

.footer_copyright_para {
    text-align: center;
    padding: 69px 0 27px 0;
    position: relative;
    z-index: 999;
}

.footer_copyright_para p{
    font-size: 18px;
    color: #ffffff;
    font-family: 'Jost', sans-serif;
    margin: 0;
    font-weight: 300;
}

            /*END FOOTER SECTION*/

            /*START INNER BANNER*/

.inner_banner_sec{
    position: relative;
}

.inner_page_img img{
    width: 100%;
    height: 600px;
}

.inner_banner_cont {
    position: absolute;
    top: 50%;
    left: 50%;
    -webkit-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    text-align: center;
}

.inenr_banner_head h2{
    font-family: 'mark_pro_black';
    position: relative;
    font-size: 113px;
    color: #5b1569;
    margin: 0;
    line-height: 95px;
    text-transform: uppercase;
    letter-spacing: 1px;
}

            /*START ABOUT US PAGE*/

.contact_us_cont_head h2 {
    text-transform: capitalize;
    letter-spacing: 1px;
    font-family: 'quiche-sans';
    color: #1b1b1b;
    font-size: 30px;
    margin: 0 0 10px 0;
}

.contact_us_cont_head p {
    font-size: 18px;
    color: #282828;
    font-family: 'Jost', sans-serif;
    margin: 0;
    font-weight: 300;
    line-height: 25px;
    margin: 0 0 15px 0;
}

.about_us_page_sec .contact_us_inner_img {
    padding: 35px 0 0 0;
}

.contact_us_inner_img img {
    width: 100%;
    height: 300px;
    object-fit: cover;
    border: 3px solid #5b1569 !important;
}

.about_us_page_sec .contact_us_inner_img {
    padding: 35px 0 0 0;
}

.about_us_page_sec .contact_us_cont_head {
    padding: 35px 0 0 0;
}

            /*END ABOUT US PAGE*/

            /*START SERVICES PAGE*/

section.inner_serv_sec {
    padding: 50px 0 0 0;
}

.about_us_inner_item {
    border: 1px solid #662572;
    height: 580px;
    padding: 9px 7px;
    margin: 0 0 30px 0;
}

.inner_serv_img img{
    width: 100%;
    height: 300px;
    object-fit: cover;
}

.inner_serv_head{
    text-align: center;
}

.inner_serv_head h6{
    font-size: 20px;
    font-family: 'Poppins', sans-serif;
    font-weight: 600;
    color: #282828;
    text-transform: uppercase;
    letter-spacing: 1px;
    margin: 0 0 10px 0;
}

.inner_serv_head p{
    font-size: 15px;
    font-family: 'Poppins', sans-serif;
    font-weight: 300;
    color: #3a3a3a;
    line-height: 25px;
    margin: 0 0 15px 0;
}

.serv_link {
    text-align: center;
    padding: 16px 0 0 0;
}

.serv_link a{
        font-family: 'Jost', sans-serif;
    color: #ffffff;
    font-size: 16px;
    padding: 15px 45px;
    background-color: #662572;
    border-radius: 5px;
}

            /*END SERVICES PAGE*/

            /*START TESTIMONIAL PAGE*/

section.testimonial_page {
    padding: 75px 0 0 0;
}

.testimonial_inner_item {
    text-align: center;
    box-shadow: 0px 0px 7px 0px rgb(0 0 0 / 20%);
    padding: 30px 0 0 0;
    height: 435px;
    margin: 0 0 45px 0;
}

.testimonial_inner_img img{
    width: 129px !important;
    height: 129px;
    object-fit: cover;
    display: block;
    margin: 0 auto;
    border-radius: 50%;
    position: relative;
}   

.testimonial_admin_name h6 {
    font-size: 17px;
    font-family: 'Poppins', sans-serif;
    font-weight: 600;
    color: #272727;
    margin: 0;
    line-height: 38px;
}

.testimonial_admin_name p {
    font-size: 13px;
    font-family: 'Poppins', sans-serif;
    font-weight: 400;
    color: #3a3a3a;
    margin: 0;
} 

.testimonial_inner_para {
    padding: 10px 0 0 0;
}  

.testimonial_inner_para p {
    font-size: 15px;
    font-family: 'Poppins', sans-serif;
    font-weight: 300;
    color: #3a3a3a;
    line-height: 25px;
    margin: 0 0 10px 0;
}       

                /*END TESTIMONIAL PAGE*/

                /*START GALLERY PAGE*/

section.inner_photo_galery_section {
    padding: 60px 0 45px 0;
}                

.inner_gall_item{
    box-shadow: 0px 20px 29px 0px rgb(0 0 0 / 90%);
    position: relative;
    margin: 0 0 40px 0;
}

.inner_gall_item img {
    width: 100%;
    object-fit: cover;
    height: 320px;
}

.inner_gall_item img {
    width: 100%;
    height: 300px;
    object-fit: cover;
    display: block;
}

.gal_overlay {
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    background-color: #5b1569;
    overflow: hidden;
    width: 100%;
    height: 0;
    transition: .5s ease;
}

.inner_gall_item:hover .gal_overlay {
  height: 100%;
}

.gal_text {
    color: #ffffff;
    font-size: 20px;
    position: absolute;
    top: 50%;
    left: 50%;
    -webkit-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    text-align: center;
    border: 3px solid #fff;
    padding: 14px 19px;
    border-radius: 65px;
    -webkit-transition: all 0.6s ease-in-out;
       -moz-transition: all 0.6s ease-in-out;
        -ms-transition: all 0.6s ease-in-out;
            transition: all 0.6s ease-in-out;
}

a.gal_text:hover {
    color: #000;
    background: #fff;
    border-color: #fff;
}

            /*END GALLERY PAGE*/

            /*START CONTACT US PAGE*/

section.contact_inner_section {
    padding: 30px 0 43px 0;
}

.contact_us_cont_head h2 {
    font-size: 20px;
    font-family: 'Poppins', sans-serif;
    font-weight: 600;
    color: #282828;
    text-transform: uppercase;
    letter-spacing: 1px;
    margin: 0 0 10px 0;
}  

.contact_us_cont_head p {
    font-size: 15px;
    font-family: 'Poppins', sans-serif;
    font-weight: 300;
    color: #3a3a3a;
    line-height: 25px;
    margin: 0 0 15px 0;
}  

.contact_us_inner_img img {
    width: 100%;
    height: 300px;
    object-fit: cover;
    border: 3px solid #5b1569 !important;
} 

.contact_us_map iframe {
    width: 100%;
    border: 3px solid #5b1569 !important;
}

.contact_us_form_head{
    text-align: center;
}

.contact_us_form_head h5 {
    font-size: 18px;
    font-family: 'Poppins', sans-serif;
    font-weight: 600;
    color: #282828;
    text-transform: uppercase;
    letter-spacing: 1px;
    margin: 0 0 20px 0;
}

.contact_us_input input {
    width: 100%;
    background-color: #eaeaea;
    height: 50px;
    border: 1px solid #5b1569;
    padding: 0 10px;
    margin: 0 0 20px 0;
    font-family: 'Poppins', sans-serif;
    font-weight: 400;
    font-size: 14px;
}

.contact_us_input input:focus{
    box-shadow: none;
    outline: none;
}

.contact_us_input textarea {
    width: 100%;
    background-color: #eaeaea;
    height: 160px;
    border: 1px solid #000;
    padding: 0 10px;
    margin: 0 0 20px 0;
    font-family: 'Poppins', sans-serif;
    font-weight: 300;
    font-size: 14px;
    padding: 10px 12px;
}

.contact_us_input textarea:focus{
    outline: none;
    border: 1px solid #000;
}

.contact_us_sub{
    text-align: center;
}

.contact_us_sub input {
    font-size: 13px;
    color: #ffffff;
    text-transform: uppercase;
    background-color: #5b1569;
    font-family: 'Poppins', sans-serif;
    font-weight: 600;
    padding: 10px 50px;
    border-radius: 5px;
    transition: .5s ease;
    -webkit-transition: .5s ease;
    -moz-transition: .5s ease;
    -ms-transition: .5s ease;
    -o-transition: .5s ease;
}

.contact_us_map {
    padding: 45px 0 0 0;
}

.contact_us_form {
    padding: 45px 0 0 0;
}


                /*END CONTACT US PAGE*/

            /*EMD INNER BANNER*/